---
- name: Launch EC2 instance with key pair
  amazon.aws.ec2_instance:
    name: vinod-ansible-test
    key_name: managed instance key pair
    instance_type: t2.micro
    image_id: ami-04b70fa74e45c3917
    region: us-east-1
    wait: yes
    count: 1
    user_data: |
      #!/bin/bash
      mkdir -p /home/ubuntu/.ssh
      echo "{{ lookup('file', '~/.ssh/managed_instance.pub') }}" >> /home/ubuntu/.ssh/authorized_keys
      chown -R ubuntu:ubuntu /home/ubuntu/.ssh
      chmod 700 /home/ubuntu/.ssh
      chmod 600 /home/ubuntu/.ssh/authorized_keys


