---
- hosts: all
  become: true
  tasks: 
    - name: Install apache
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: yes
    - name: copy file with owner and permissions 
      ansible.builtin.copy:
        src: index.html
        dest: /var/www/html
        owner: root
        group: root
        mode: '0644'
    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
